<%= render PageHeaderComponent.new(title: t('.title')) %>

<div class="alert alert-secondary" role="alert">
  <%= t('.info.html', site: @user_invitation.site.title, inviting_user: @user_invitation.inviting_user.email) %>
</div>

<div class="d-flex gap-2">
  <%= render ButtonComponent.new(label: t('.submit'), variant: :primary, href: invitation_path(params[:id]), data: { turbo_method: :put }) %>
  <%= render ButtonComponent.new(label: t('.cancel'), variant: :ghost, href: root_path, "data-turbo-frame": '_top') %>
</div>
