
<%= link_to t('.invite_user'), new_site_user_invitation_path(current_site) %>

<% @user_invitations.each do |invitation| %>
  <%= turbo_frame_tag(invitation) do %>
    <p>
      <%= invitation.email %>
      <%= link_to t('.resend'), resend_site_user_invitation_path(current_site, id: invitation.public_id), data: { turbo_method: :post } %>
    </p>
  <% end %>
<% end %>
