<h1 class="h4"><%= icon('people-fill') %> <%= t('.invite_a_new_user') %></h1>

<div class="alert alert-secondary" role="alert">
  <%= t('.info.html')  %>
</div>

<%= render 'form', user_invitation: @user_invitation %>
