<div class="list-row">
  <div class="list-row__icon">
    <%= helpers.icon("users") %>
  </div>
  <div class="list-row__content">
    <div class="list-row__title"><%= email %></div>
  </div>
  <% if can_destroy? %>
    <div class="list-row__actions">
      <%= render ButtonComponent.new(
            label: helpers.icon("trash"),
            variant: :ghost,
            size: :sm,
            href: delete_path,
            data: { turbo_method: :delete, turbo_confirm: I18n.t('are_you_sure') },
            title: I18n.t('delete'),
            aria: { label: I18n.t('delete') }) %>
    </div>
  <% end %>
</div>
