<div class="table-responsive">
  <table class="table table-bordered w-100">
    <thead>
      <tr>
        <th>Title</th>
        <th>Path</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'pages/page', collection: @pages %>
    </tbody>
  </table>
</div>

