<h1 class="title is-4"><%= icon('book') %> <%= Book.model_name.human.pluralize %></h1>
<%= link_to "New Book", new_site_book_path, data: { turbo_frame: "new_book" }, class: 'button mb-4' %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Read at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @books  %>
  </tbody>
</table>
