<% if book.present? %>
  <div class="d-flex align-items-center gap-2 my-2 p-2 bg-light rounded">
    <%= cover_or_emoji %>
    <div class="flex-grow-1">
      <div class="fw-semibold small"><%= book.title %></div>
      <div class="text-muted small"><%= book.author %></div>
    </div>
  </div>
<% end %>
