<div class="table-responsive">
  <table class="table table-bordered w-100">
    <thead>
      <tr>
        <th>Url</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @deployment_targets %>
    </tbody>
  </table>
</div>
