<div class="site-card">
  <div class="site-card-title">
    <%= link_to(site.title, site_posts_path(site)) %>
  </div>
  <div class="site-card-domain">
    <%= icon('globe') %>
    <span><%= site.domain %></span>
  </div>
</div>
