<div class="d-flex align-items-center justify-content-between mb-4">
  <h1 class="h1 m-0"><%= icon('houses') %> Sites</h1>
  <%= link_to('New Site', new_site_path, class: 'btn btn-primary') %>
</div>

<div class="site-cards">
  <%= render @sites %>
</div>
