<%= render PageHeaderComponent.new(title: "Sites") do %>
  <%= render ButtonComponent.new(label: "New Site", variant: :primary, icon: "plus", href: new_site_path) %>
<% end %>

<% if @sites.empty? %>
  <%= render EmptyStateComponent.new(icon: "house", message: "No sites yet", action_label: "Create your first site", action_href: new_site_path) %>
<% else %>
  <div class="site-cards">
    <%= render @sites %>
  </div>
<% end %>
