<div data-controller="notice" class="alert alert-info alert-dismissible fade show mb-4" role="alert">
  <%= notice.html_safe %>
  <button type="button" class="btn-close" data-action="click->notice#close" aria-label="Close"></button>
</div>
